@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

.header {
    width: 1024;
    margin: 0 auto;
    padding: 1.5%;
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.leftheader {
    padding-left: 3%;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.middleheader a {
    margin: 5px;
}

.about,
.service {
    text-decoration: none;
    color: #ff0066;
}

.home {
    color: white;
}

.rightheader button {

    background-color: white;
    width: 90px;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: bold;

}

.rightheader {
    padding-right: 3%;

}



.mainfirst {
    margin: 0;
   padding-left: 2%;
    width: 1024;
    height: 70vh;
    text-align: center;
    padding-top: 60px;
    background-color: rgba(211, 211, 211, 0.618);

}

.mainfirst h1 {
    font-size: 20px;
    margin: 10px;
    padding:5px;
    
}

.firstbox {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    float: left;
   

}

.secondbox {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    float: left;
    
}

.thirdbox {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    float: left;
   
}

.boxfirst {
    border: 5px solid lightseagreen;
    width: 80px;
    height: 80px;
    background-color: rgb(191, 246, 243);
    margin-left: 40%;
    border-radius: 8px;
    font-weight: bold;
    
}
.box1,.box4,.box7{
    margin-top: 10px;
}
.box2,.box3,.box5,.box6,.box8,.box9{
    margin-top: 5px;
}
.box8 {
    margin: auto;
    border: 5px solid #ff0066;
    background-color: orange;
    float: right;
    margin-right: 10px;
    
}

.box5 {
    margin: auto;
    border: 5px solid #ff0066;
    background-color: orange;
    float: left;
    margin-left: 10px;


}




.img1 {
    width: 3%;
    position: fixed;
    bottom: 45px;
    right: 0;
    background-color: #ff0066;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}



.uniqueposition {
    margin: 0;
    text-align: center;
    width: 1024;
    height: 120vh;
}

.uniqueposition h3 {
    padding-top:50px;
    font-size: 30px;
}

.position {
    
    margin:10px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.boxsecond {
    border: 5px solid lightseagreen;
    width: 80px;
    height: 80px;
    background-color:rgb(191, 246, 243);
    border-radius: 8px;
    font-weight: bold;
}

.secondpart1 {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.secondpart2 {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;




}

.secondpart3 {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;



}

.secondpart4 {
    border: 2px solid #ff0066;
    width: 31%;
    margin: 10px;
    height: 300px;
    overflow:auto;


}

.box12,.box13,.box19{
    margin-top: 5px;
}
.box20,.box21{
    margin-top: 10%;
    margin-left: 40%; 
}

.box12 {
    border: 5px solid #ff0066;
    background-color: orange;


}



.box14 {
    position: absolute;
    margin-bottom: 170px;

}

.box16 {
    position: relative;
    right: 60px;
    top: 20px;
}
.box15 {
    border: 5px solid #ff0066;
    background-color: orange;
    position: absolute;
    margin-top: 90px;
    margin-left: 125px;
    


}
.box18{
    border: 5px solid #ff0066;
    background-color: orange;
    margin-right: 220px;
    position: absolute;

}

.box17 {
    position: absolute;
    margin-bottom: 170px;


}

.box18 {
    position: absolute;
}


/* flex  */

.flex{
    margin: 0;
    width: 1024;
    height: 300vh;
    background-color: rgba(211, 211, 211, 0.618);
    font-weight: bold;
}
.flexmain{
    width: 90%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid#ff0066; 
  
}
.flexmain h2{
    margin-top: 20px;
    padding-top: 30px;
    font-size: 30px;

}
.flex-first{
    margin: 20px;
    padding: 20px;
   
}
.item,.item1,.item2,.item3,.item4{
   border: 5px solid lightseagreen;
   width: 150px;
   height: 160px;
   margin: 5px;
   background-color: rgb(191, 246, 243);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   
}


 
 .flexmiddle{
     margin: 0 auto;
     margin-top: 50px;
     width: 90%;
     padding: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
     border-bottom: 3px solid#ff0066;
 }
 
 
 .flexsecondlast{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid#ff0066;
    
}

.mid{
    width: 44%;
}


.flexlast{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}


footer{   
    width: 100%;
    padding: 1.2%;
    background-color: lightseagreen;
    text-align: center;
    font-size: 40px;
    position: fixed;
    bottom: 0;
}
footer i{
    padding: 20px; 
   color: white;
}
